body {
  margin: 0;
  background: #964B00;
  color: white;
  font-family: roboto, arial, sans-serif;
  text-align: center;
}

#title {
  font-size: 80px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#image {
  height: 500px;
  width: 500px;
}